.posts {
    padding-bottom: 20px ;
}

.postsNew {
    margin-top: 20px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form textarea {
    border: none;
    min-height: 100px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #555;
    background-color: bisque;
}

.form button {
    border: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: tomato;
    padding: 0 25px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.form button:hover {
    background-color: crimson;
}

.postsTitle {
    font-size: 20px;
    font-weight: 400;
    color: #555;
}

.postsFeed {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px;
}