.root {
  grid-area: side;
  background-color: tomato;
  min-width: 260px;
}

.content {
  padding: 20px;
  position: sticky;
  top: 100px;
}

.nav {
  display: grid;
  gap: 20px;
}

.friends {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
