.profile {
}

.profileHead {
  display: flex;
  margin-bottom: 25px;
}

.profileHead:empty {
  display: none;
}

.profileAvatar {
  flex: 0 0 160px;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
}

.profileAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileMore {
  flex: 1 1 auto;
  margin-left: 20px;
}

.lookForAJob {
  margin-top: 0;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
}

.lookForAJobDesc {
  font-size: 18px;
  color: #333333;
}

.profileDesc {
}

.profileName {
  margin: 0;
  font-size: 24px;
  color: #555;
  font-weight: bold;
}

.profileStatus {
  margin-top: 10px;
  margin-bottom: 30px;
}

.profileList {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 20px;
  border: 1px solid #eee;
  padding: 20px;
}

.profileList dt {
  font-weight: bold;
}

.profileList dd {
  margin: 0;
}
