.root {
  grid-area: side;
  background-color: tomato;
  padding: 20px;
  min-width: 260px;
}

/* nav */

.nav {
  display: grid;
  gap: 20px;
}

/* friends */

.friends {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
