.postItem {
    display: flex;
    align-items: center;
}

.postItem:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.postAvatar {
    flex: 0 0 60px;
}

.postAvatar img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    background-color: yellowgreen;
}

.postText {
    margin: 0;
    flex: 1 1 auto;
    padding-left: 15px;
    color: #555;
    font-size: 16px;
}